@import "./reset.css";

.animal {
    max-width:300px;
}

img {
    max-width: 100%;
}

.clicks {
    background-color: white;
    border-radius: 7px;
    margin: 5px;
    width: 4em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    margin-top: -35px;
}

.clicks p {
    margin-bottom: 0;
}
